.cell {
    padding: 12px;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 5px 0px rgba(0,0,0,0.75);
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}

.cell.opened {
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(top, #f3e2c7 0%, #b68d4c 4%, #b68d4c 4%, #b68d4c 43%, #c19e67 100%, #e9d4b3 100%, #c19e67 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f3e2c7 0%,#b68d4c 4%,#b68d4c 4%,#b68d4c 43%,#c19e67 100%,#e9d4b3 100%,#c19e67 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f3e2c7 0%,#b68d4c 4%,#b68d4c 4%,#b68d4c 43%,#c19e67 100%,#e9d4b3 100%,#c19e67 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#c19e67',GradientType=0 ); /* IE6-9 */
}
